[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
python-dotenv = "*"
python-decouple = "*"
pillow = "*"
psycopg2 = "*"
django-cors-headers = "*"
drf-social-oauth2 = "*"
django-admin-interface = "*"
django-extensions = "*"
django-debug-toolbar = "*"
django-countries = "*"
django = "*"
celery = {extras = ["redis"], version = "*"}
django-celery-beat = "*"
redis = "*"
schedule = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
